<% include .\partials\head.ejs %>

<body>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6" id="content">
            <h1><%= message %></h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Rate</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% response.forEach((game, index) => { %>
                    <tr>
                        <th><%= index+1 %></th>
                        <td><%= game.title %></th>
                        <td><%= game.title %></th>
                        <td><%= game.title %></th>
                        <td><%= game.title %></th>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <div class="col-3"></div>
    </div>
</body>